/* _content/Api Assignment/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-8kulbn2u51] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-8kulbn2u51] {
  color: #0077cc;
}

.btn-primary[b-8kulbn2u51] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-8kulbn2u51], .nav-pills .show > .nav-link[b-8kulbn2u51] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-8kulbn2u51] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-8kulbn2u51] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-8kulbn2u51] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-8kulbn2u51] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-8kulbn2u51] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/Api Assignment/Views/Shared/_meal.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-n0kp6tsmfk] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-n0kp6tsmfk] {
  color: #0077cc;
}

.btn-primary[b-n0kp6tsmfk] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-n0kp6tsmfk], .nav-pills .show > .nav-link[b-n0kp6tsmfk] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-n0kp6tsmfk] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-n0kp6tsmfk] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-n0kp6tsmfk] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-n0kp6tsmfk] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-n0kp6tsmfk] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/Api Assignment/Views/Shared/_movie.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-ijpqvoaov8] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-ijpqvoaov8] {
  color: #0077cc;
}

.btn-primary[b-ijpqvoaov8] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-ijpqvoaov8], .nav-pills .show > .nav-link[b-ijpqvoaov8] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-ijpqvoaov8] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-ijpqvoaov8] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-ijpqvoaov8] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-ijpqvoaov8] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-ijpqvoaov8] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/Api Assignment/Views/Shared/_weather.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-940866rwhh] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-940866rwhh] {
  color: #0077cc;
}

.btn-primary[b-940866rwhh] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-940866rwhh], .nav-pills .show > .nav-link[b-940866rwhh] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-940866rwhh] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-940866rwhh] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-940866rwhh] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-940866rwhh] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-940866rwhh] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
